.filter-green {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
/* 
.animate-left-right {
    animation: run ease-in-out 0.5s infinite;
}   
  
@keyframes run {
    0% { margin-left: 0px; }
    50% { margin-left: 5px; }
    100% { margin-left: 0px; }
} */

h4 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 0.2rem;
}

.qrcode-ec-label {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    text-align: center;
    padding: 10px 10px;
    color: #666;
}

.selected {
    color: #EEE;
}